[Unit]
Description=Telegram Bot
After=network.target

[Service]
Type=simple
User=telegrambot
Group=telegrambot
WorkingDirectory=/home/telegrambot/jugendhackt_bot/
ExecStart=/usr/bin/python3 bot.py

[Install]
WantedBy=multi-user.target
